
@{
    ViewBag.Title = "Qualifications";
}

<h2>Rental Qualifications</h2>
<ul>
    <li>We will run a credit report and criminal background check.  We try to work with most credit and will evaluate your report in it's entirety.</li>
    <li>Your Income must be at least 3 times the monthly rent. Your last 3 pay stubs are required.</li>
    <li>No prior evictions.</li>
    <li>Good references from current and previous landlords.</li>
    <li>Your application must be filled out entirely and truthfully.</li>
</ul>
