@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    RnL Property<br />
    1658 N Milwaukee Ave 100-3044<br />
    Chicago, IL 60647-5652<br />
    <abbr title="Phone">P:</abbr>
    (815) 714-8624
</address>

<address>
    <strong>Email Address:</strong>   <a href="mailto:mail@rnlProperty.com">mail@rnlProperty.com</a><br />
</address>
