@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    RnL Property<br />
    PO Box 833<br />
    New Lenox, IL 60451<br />
    <abbr title="Phone">P:</abbr>
    (815) 714-8624
</address>

<address>
    <strong>Email Address:</strong>   <a href="mailto:mail@rnlProperty.com">mail@rnlProperty.com</a><br />
</address>